@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:300,900');
@import "vars.css";

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.clearfix {
    display: table;
    content: '';
    clear: both;
}
    /*******HEADER*******/


.wrapper {
    width: 1110px;
    margin: 0 auto;
}

.header-wrapper{
    margin-bottom: 40px;
}

header {
    position: relative;
    padding-top: 40px ;
}

.logo-wrapper {
    font-size: 32px;
}

.navigation-list_item-link,
.logo-wrapper {
    text-decoration: none;
}

.logo-text,
.navigation {
    display: inline-block;
    font-family: var(--open-sans-font);
    font-size: 14px;
    font-weight: 700;
}

.logo-text {
    display: inline-block;
    font-family: var(--open-sans-font);
    font-weight: 300;
    color: #555252;
    font-size: 30px;
    line-height: 32px;
    text-transform: uppercase;
    padding: 0;
}

.logo-text:first-letter {
    color: #1abc9c;
    font-family: var(--roboto-font);
    font-weight: 900;
}

.navigation {
    float: right;
}

.navigation-list_item-link {
    font-family: var(--open-sans-font);
    font-weight: 700;
    font-size: 14px;
    color: #0f0101;
    text-transform: uppercase;
    cursor: pointer;
}

.navigation-list_item {
    list-style: none;
    display: inline-block;

}

.navigation-list_item:not(:last-child) {
    margin-right: 40px;
}

.navigation-list_item-link:hover {
    color: #1abc9c;
}


        /*******SLIDER*******/


.slider {
    position: relative;
}

.slides-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.opacity {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000002;
    opacity: .52;
}

.slider-main {
    width: 1110px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider-arrow {
    position: absolute;
    top: 50%;
    height: 100px;
    width: 100px;
    border: none;
    transform: translateY(-50%);
    background-color: #1abc9c;
    color: var(--main-text-color);
    font-size: 90px;
    cursor: pointer;
}

.slider-arrow-left {
    left: 0;
}

.slider-arrow-right {
    right: 0;
}

.slides {
     margin: 0 auto;
    width: 770px;
}

.slides-item {
    font-family: var(--roboto-font);
    text-transform: uppercase;
    color: var(--main-text-color)
}

.paris-tours {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 30px;
}

.city-tours {
    font-size: 24px;
}


/*******PRODUCT SECTION*******/


.background{
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #e9f0fd;
}

.new-collection {
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    font-family: var(--roboto-font);
    font-weight: 900;
    color: #515151;
}

.new-collection:after {
    content: "";
    display: block;
    width: 160px;
    border-bottom: 8px solid #1abc9c;
    margin: 30px auto 80px;
}

.product-item {
    float: left;
    margin-right: 29px;
    cursor: pointer;
}

.product-item:last-child {
    margin-right: 0;
}

.img-container {
    position: relative;
}

.hover {
    /*display: none;*/
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.55);
    margin: 11px;
}

.product-item:hover .hover {
    display: block;
}

.upper {
   text-align: center;
    margin: 75px auto 0;
}

.inline {
    margin: 75px 5px 10px 0;
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    border: 1px solid white;
    background-color: transparent;
    color: var(--main-text-color);
    line-height: 50px;
    padding: 0;
    cursor: pointer;
}

.inline:last-child {
    margin-right: 0;
}

.inline:hover {
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
}

.heart {
    margin-left: 32px;
}

.lower {
    margin: 0 auto;
    text-align: center;
    width: 168px;
    font-size: 1.5rem;
}

.add {
    display: block;
    margin: 0 auto;
    border: 1px solid white;
    color: var(--main-text-color);
    line-height: 50px;
    background-color: #323232;
    font-family: var(--open-sans-font);
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}
.add:hover {
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
}

.fa-cart-plus {
    margin-right: 20px;
}


.product-item-name, .product-item-price {
    display: inline-block;
    line-height: 40px;
}

.product-item-text {
    width: 100%;
    background-color: #323232;
    font-family: var(--roboto-font);
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
}
.product-item:hover .product-item-text {
    background-color: #1abc9c;
    cursor: pointer;
}

.product-item-name {
    float: left;
    width: 80%;
    padding-left: 15px;
    color: var(--main-text-color);
}

.product-item-price {
    float: right;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.44);
    text-align: center;
    color: var(--main-text-color);
}

.product-item-price:before {
    content: "\0024";
}


/*******FOOTER*******/


.footer-wrapper {
    background-color: #323232;
}

.footer-text {
    margin: 0 auto;
    width: 1110px;
    text-align: center;
    padding: 2rem 0 2rem;
    font-size: 16px;
    font-family: var(--open-sans-font);
    color: var(--main-text-color);
    text-transform: capitalize;
}

.designer-link {
    text-decoration: none;
    color: #46bfa9;
}



