* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #626262;
    font-family: 'Playfair Display', serif;
}

.wrapper{
    width: 900px;
    margin: 0 auto;
}

.navbar{
    list-style: none;
    margin: 77px 0 104px 0;
}

.navbar_list-item {
    display: inline-block;
}

.navbar_list-item:first-child {
    margin: 0 120px 0 150px;
}

.navbar_list-item:nth-child(2) {
    margin: 0 100px 0 0;
}

.navbar_list-item:last-child{
    margin: 0 163px 0 95px;
}

.navbar_list-link{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}
.navbar_list-link:hover {
    color:#03a9f4;
}

main {
    width:900px;
    margin: 0 auto;
}

.article-item {
    display: inline-block;
    width: 420px;
    margin: 0 0 130px 0;
}

.article-item:nth-child(odd) {
    margin: 0 56px 0 0;
}

.article-item:nth-child(5),:nth-child(6) {
    margin-bottom: 60px;
}

.article-image{
    margin: 0 0 30px 0;
}

.article-category {
    margin: 0 0 30px 0;
    text-transform: uppercase;
    color: #b4ad9e;
    font-size: 14px;
}

.article-heading {
    margin: 0 0 40px 0;
    font-size: 30px;
}

.article-text {
    font-size: 14px;
    line-height: 1.7;
}

.button-wrapper {
    text-align: center;
}


.load_more {
    margin: 0 0 70px 0;
    padding: 15px 40px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0)
}
